@charset "UTF-8";
/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/
body{
    background-color: #57B5B5;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color:#1A3636;
}

h1#principal{
    text-align: center;
    background-color: #387575;
    color: white;
}

h2{
    color:#750000;
}

.basico {
    color:#007572;  
}

.intermediario{
    color:#6a7200;
}

.destaque{
    background-color: #a3a34652;
}